.usercenter-nav {
	margin: 40px 0;
}

.usercenter-right {
	margin: 50px 0 50px -40px;
	width: 75%;
}

.profile-userhead {
	padding-left: 100px;
}

.usercenter-input1 {
	width: 200px !important;
}

.usercenter-input2 {
	width: 300px !important;
}

.usercenter-trend-button {
	margin-left: 615px !important;
}

.center-profile-button1 {
	position: relative;
	top: -15px;
	left: 30px;
}
#at-myquestion-label-from{
	float: right;
}