.usercenter-nav {
	margin: 40px 0;
}

.usercenter-right {
	margin: 50px 0 50px -40px;
	width: 75%;
}

.profile-userhead {

	border-radius: 500rem;
	height: 70px;
}

.profile-userheadset h4 {
	margin-top: 20px !important;
}

.profile-userhead-upbutton {
	
}

.profile-userhead-upimg {
	
}

.usercenter-input1 {
	width: 200px !important;
}

.usercenter-input2 {
	width: 300px !important;
}

.usercenter-trend-button {
	/*margin-left: 615px !important;*/
}

.center-profile-button1 {
	position: relative;
	top: -15px;
	left: 30px;
}
#at-myquestion-label-from{
	float: right;
}