<div class="ui breadcrumb" id="at-expert-breadcrumb">
    <a class="section">首页</a> <i class="right angle icon divider"></i>
    <a class="section">视频详情</a>
</div>

<div class="ui segment">
    <h2 class="ui header centered">{{ video.name }}</h2>
    <hr id="deshed ">
    <div class="sub header at-cont-author centered">发布日期:{{ video.whenCreated | date:'yyyy-MM-dd HH:mm' }} &nbsp;&nbsp;&nbsp;发布者:{{
        video.admin.name }}
    </div>

    <div class="center" style="margin: auto">
        <video id="my-video" class="video-js" style="margin: auto" controls preload="auto" width="800" height="400"
               poster="MY_VIDEO_POSTER.jpg" data-setup="{}">
            <source src="http://storage.workerhub.cn/qiniu_cloud_storage_1464234101" type='video/mp4'>
            <source src="MY_VIDEO.webm" type='video/webm'>
            <p class="vjs-no-js">
                To view this video please enable JavaScript, and consider upgrading to a web browser that
                <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
            </p>
        </video>
    </div>

</div>
