<div class="at-question-info-all">
    <div class="ui breadcrumb" id="at-expert-breadcrumb">
        <a class="section">首页</a> <i class="right angle icon divider"></i>
        <a class="section">问题详情</a>
    </div>
    <div class="content" style="margin-top: 10px">
        <div class="ui list">
            <div class="item ui segment ">
                <img class="ui avatar image" id="at-question-info-img" ng-src="{{ curQuestion.user.avatar | showAvatar}}"/>
                <div class="content at-question-cont" id="at-question-info-cont">
                    <div class="at-question-name">
                        <a>{{ curQuestion.user.name }}</a>
                    </div>

                    <div>
                        <p class="at-question-title">{{ curQuestion.title }}</p>
                    </div>

                    <div class="ui custom images">
                        <img ng-repeat="image in images" src="{{ image }}">
                    </div>

                    <div class="description">
                        <p>
                            {{ curQuestion.content }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="answer">
        <div class="at-question-answer-title ui secondary pointing menu"><a class="active item">解决方案</a></div>
        <div class="ui list">
            <div class="item ui segment" ng-if="hasAnswer">
                <img class="ui avatar image" id="at-question-info-img"
                     src="{{ curQuestion.expert.avatar | showAvatar }}"/>
                <div class="content at-question-cont" id="at-question-info-cont">
                    <div class="at-question-name">
                        <a>{{ curQuestion.expert.realName }}</a>
                    </div>
                    <div class="description">
                        <p>
                            {{ curQuestion.answer }}
                        </p>
                    </div>
                </div>
            </div>
            <div class="item" ng-if="!hasAnswer">
                <h1>暂无回答</h1>
            </div>
        </div>
    </div>
</div>