<div class="column">
    <form class="ui form" ng-submit="createQuestion()">
        <h1 class="at-title">
            <center>{{ desc }}</center>
        </h1>
        <div class="at-post-content">
            <div class="field">
                <label>问题标题</label>
                <div class="ui left input at-signup-text">
                    <input type="text" ng-model="title" placeholder="问题的简单概括，5-45字">
                </div>
            </div>
            <div class="field">
                <label>问题描述</label>
                <div class="ui left input at-signup-text">
                    <textarea name="name" rows="8" cols="40" ng-model="content" placeholder="问题的详细描述，5-255字"></textarea>
                </div>
            </div>
            <div class="ui custom images">
                <img ng-repeat="image in images" src="{{ image }}">
            </div>
            <div class="field">
                <label>选择上传图片</label>
                <div class="upload-container" id="upload-container">
                    <input type="file" id="pickfiles" name="image">
                </div>
            </div>
            <div class="field">
                <label>问题分类</label>
                <input type="hiden" ng-hide="true" ng-model="categoryId" id="categoryId">
                <div class="ui search selection dropdown">
                    <input type="hidden" name="category">
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <div ng-repeat="category in categories" class="item" data-value="{{ category.id }}">
                            {{ category.name }}
                        </div>
                    </div>
                    <div class="default text">选择分类</div>
                </div>
            </div>
            <div class="field" style="display: none">
                <div class="inline fields">
                    <label>您是否经营产业?</label>
                    <div class="field">
                        <div class="ui radio checkbox">
                            <input type="radio" name="property">
                            <label>有</label>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui radio checkbox">
                            <input type="radio" name="property" checked="checked">
                            <label>无</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="field" style="display: none">
                <label>产业类型</label>
                <div class="ui left icon input at-signup-text">
                    <input type="text">
                    <!-- <i class="lock icon"></i> -->
                </div>
            </div>
            <div class="field" style="display: none">
                <label>产业规模</label>
                <div class="ui left icon input at-signup-text">
                    <input type="text">
                    <!-- <i class="lock icon"></i> -->
                </div>
            </div>
            <center><input type="submit" class="fluid ui green submit button" value="提交"></center>
        </div>
    </form>
</div>
