<div ng-include="'../include/experthead.html'"></div>

<section id="cd-timeline" class="cd-container">
	<div class="cd-timeline-block">
		<div class="cd-timeline-img cd-picture">
			<img src="image/20090112130627120.jpg" alt="Picture" class="expert-album-img1">
		</div>
		<div class="cd-timeline-content">
			<h4 class="expert-album-time">时间：2016.05.08</h4>
			<div class="ui bottom attached tab segment active" data-tab="first">
			<div class="ui grid bg-gray expert-album-box">
			    <div class="ui grid at-video-box">
			      <div class="four wide column" href="#/">
			        <img class="ui image at-video" src="images/Fl201512241629035405.jpg">
			      </div>
			      <div class="four wide column" href="#/">
			        <img class="ui image at-video" src="images/Fl201512241629035405.jpg">
			      </div>
			      <div class="four wide column" href="#/">
			        <img class="ui image at-video" src="images/Fl201512241629035405.jpg">
			      </div>
			      <div class="four wide column" href="#/">
			        <img class="ui image at-video" src="images/Fl201512241629035405.jpg">
			      </div>
			    </div>
			    <div class="ui grid at-video-box">
			      <div class="four wide column" href="#/">
			        <img class="ui image at-video" src="images/Fl201512241629035405.jpg">
			      </div>
			      <div class="four wide column" href="#/">
			        <img class="ui image at-video" src="images/Fl201512241629035405.jpg">
			      </div>
			      <div class="four wide column" href="#/">
			        <img class="ui image at-video" src="images/Fl201512241629035405.jpg">
			      </div>
			      <div class="four wide column" href="#/">
			        <img class="ui image at-video" src="images/Fl201512241629035405.jpg">
			      </div>
			    </div>
			</div>
		</div>
		</div>
	</div>
	<div class="cd-timeline-block">
		<div class="cd-timeline-img cd-picture">
			<img src="image/20090112130627120.jpg" alt="Picture" class="expert-album-img1">
		</div>
		<div class="cd-timeline-content">
			<h4 class="expert-album-time">时间：2016.05.08</h4>
			<div class="ui bottom attached tab segment active" data-tab="first">
			<div class="ui grid bg-gray expert-album-box">
			    <div class="ui grid at-video-box">
			      <div class="four wide column" href="#/">
			        <img class="ui image at-video" src="images/Fl201512241629035405.jpg">
			      </div>
			      <div class="four wide column" href="#/">
			        <img class="ui image at-video" src="images/Fl201512241629035405.jpg">
			      </div>
			      <div class="four wide column" href="#/">
			        <img class="ui image at-video" src="images/Fl201512241629035405.jpg">
			      </div>
			      <div class="four wide column" href="#/">
			        <img class="ui image at-video" src="images/Fl201512241629035405.jpg">
			      </div>
			    </div>
			</div>
		</div>
		</div>
	</div>
	<div class="cd-timeline-block">
		<div class="cd-timeline-img cd-picture">
			<img src="image/20090112130627120.jpg" alt="Picture" class="expert-album-img1">
		</div>
		<div class="cd-timeline-content">
			<h4 class="expert-album-time">时间：2016.05.08</h4>
			<div class="ui bottom attached tab segment active" data-tab="first">
			<div class="ui grid bg-gray expert-album-box">
			    <div class="ui grid at-video-box">
			      <div class="four wide column" href="#/">
			        <img class="ui image at-video" src="images/Fl201512241629035405.jpg">
			      </div>
			      <div class="four wide column" href="#/">
			        <img class="ui image at-video" src="images/Fl201512241629035405.jpg">
			      </div>
			      <div class="four wide column" href="#/">
			        <img class="ui image at-video" src="images/Fl201512241629035405.jpg">
			      </div>
			      <div class="four wide column" href="#/">
			        <img class="ui image at-video" src="images/Fl201512241629035405.jpg">
			      </div>
			    </div>
			    <div class="ui grid at-video-box">
			      <div class="four wide column" href="#/">
			        <img class="ui image at-video" src="images/Fl201512241629035405.jpg">
			      </div>
			      <div class="four wide column" href="#/">
			        <img class="ui image at-video" src="images/Fl201512241629035405.jpg">
			      </div>
			      <div class="four wide column" href="#/">
			        <img class="ui image at-video" src="images/Fl201512241629035405.jpg">
			      </div>
			      <div class="four wide column" href="#/">
			        <img class="ui image at-video" src="images/Fl201512241629035405.jpg">
			      </div>
			    </div>
			</div>
		</div>
		</div>
	</div>
</section>
