<div class="ui">
	<div ng-include="'../include/experthead.html'"></div>
	<div class="ui four column grid">
		<div class="row" style="margin-top:15px;">
		<div class="ten wide column">
			<div class="ui items segment" >
				<div class="item at-article-item" ng-repeat="article in articles">
					<div class="content">
						<a class="header" href="#/article/{{ article.id }}">{{ article.title }}</a>
						<div class="time">
							<span>{{ article.whenCreated | date:'yyyy-MM-dd HH:mm'}}</span>
						</div>
						<div class="description">
							<p>
								{{ article.content | replaceHtml}}
							</p>
						</div>
						<!--<div class="at-article-img">-->
							<!--<img src="/images/yeoman.png"/>-->
						<!--</div>-->
						<div class="at-expert-tag">
							<a class="ui red label">{{ article.category.name }}</a>
							<a class="ui orange label">{{ article.tag }}</a>
						</div>
					</div>
				</div>
			</div>
			<observe totalitems="204" listsizes="5" itemsperpage="10"></observe>


		</div>
		<div class="six wide column" ng-controller="CommonExpertCtrl">
			<div class="ui segment feed">
				<div class="event" ng-repeat="trend in trends">
					<div class="label">
						<img src="{{ trend.user.avatar | showAvatar}}"></div>
					<div class="content">
						<div class="summary">
							<a>{{ trend.user.realName }}</a>
							发布了动态
							<div class="date">{{ trend.whenCreated | date:'yyyy-MM-dd HH:mm'}}</div>
						</div>
						<div class="extra text">
							{{ trend.content }}
						</div>
						<!--<div class="meta">-->
						<!--<a class="like">-->
						<!--<i class="like icon"></i>-->
						<!--5 Likes-->
						<!--</a>-->
						<!--</div>-->
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
</div>
