<div class="ui">
    <div ng-include="'../include/experthead.html'"></div>
    <div class="ui four column grid">
        <div class="row" style="margin-top:15px;">
            <div class="ten wide column">
                    <div class="ui list">
                        <div class="item ui segment" ng-repeat="question in questions">
                            <div class="content at-question-cont">
                                <div>
                                    <a class="ui teal tag label at-question-label-from">{{ question.category.name }}</a>
                                </div>
                                <div>
                                    <a class="at-question-title" href="#/question/{{question.id}}">{{ question.title
                                        }}</a>
                                </div>

                                <div class="description">
                                    <p>
                                        {{ question.content }}
                                    </p>
                                </div>

                            </div>
                        </div>
                    </div>
                    <observe totalitems="204" listsizes="5" itemsperpage="10"></observe>
            </div>
            <div class="six wide column" ng-controller="CommonExpertCtrl">
                <div class="ui segment feed">
                    <div class="event" ng-repeat="trend in trends">
                        <div class="label">
                            <img src="{{ trend.user.avatar | showAvatar}}"></div>
                        <div class="content">
                            <div class="summary">
                                <a>{{ trend.user.realName }}</a>
                                发布了动态
                                <div class="date">{{ trend.whenCreated | date:'yyyy-MM-dd HH:mm'}}</div>
                            </div>
                            <div class="extra text">
                                {{ trend.content }}
                            </div>
                            <!--<div class="meta">-->
                            <!--<a class="like">-->
                            <!--<i class="like icon"></i>-->
                            <!--5 Likes-->
                            <!--</a>-->
                            <!--</div>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
