<div class="ui breadcrumb" id="at-expert-breadcrumb">
	<a class="section">首页</a> <i class="right angle icon divider"></i>
	<a class="section">文章详情</a>
</div>
<h2 class="ui header centered">{{ article.title }}</h2>
<hr id="deshed ">
<div class="sub header at-cont-author centered">日期:{{ article.whenCreated | date:'yyyy-MM-dd HH:mm' }} &nbsp;&nbsp;&nbsp;作者:{{ article.admin.name }}&nbsp;&nbsp;&nbsp;文章来源:农产品交易网</div>

<div class="ui basic segment at-cont-segment">
	<p>
		{{ article.content }}
	</p>
</div>
<div class="recommend">
	<div class="at-cont-icon"></div>
	<span>推荐文章:</span>
	<a href="">山东青岛打造光伏农业科技</a>
	<a href="">山东青岛打造光伏农业科技</a>
	<a href="">山东青岛打造光伏农业科技</a> <i class="caret right link icon"></i>
</div>
<div class="ui secondary pointing menu at-article-trun">
	<div class="right menu">
		<a class="active item">上一篇</a>
		<a class="item">下一篇</a>
	</div>
</div>
<div class="at-article-comment">
	<span>评论:</span>
</div>
<div class="ui comments">
	<div class="comment">
		<a class="avatar">
			<img src="http://semantic-ui.com/images/avatar/small/matt.jpg"></a>
		<div class="content">
			<a class="author">Elliot Fu</a>
			<div class="metadata">
				<span class="date">昨天上午12:30</span>
			</div>
			<div class="text">
				<p>This has been very useful for my research. Thanks as well!</p>
			</div>
			<div class="actions">
				<a class="reply">Reply</a>
			</div>
		</div>
	</div>
</div>
<div class="ui comments">
	<div class="comment">
		<a class="avatar">
			<img src="http://semantic-ui.com/images/avatar/small/matt.jpg"></a>
		<div class="content">
			<a class="author">Elliot Fu</a>
			<div class="metadata">
				<span class="date">昨天上午12:30</span>
			</div>
			<div class="text">
				<p>This has been very useful for my research. Thanks as well!</p>
			</div>
			<div class="actions">
				<a class="reply">Reply</a>
			</div>
		</div>
	</div>
</div>
<div class="ui comments">
	<div class="comment">
		<a class="avatar">
			<img src="http://semantic-ui.com/images/avatar/small/matt.jpg"></a>
		<div class="content">
			<a class="author">Elliot Fu</a>
			<div class="metadata">
				<span class="date">昨天上午12:30</span>
			</div>
			<div class="text">
				<p>This has been very useful for my research. Thanks as well!</p>
			</div>
			<div class="actions">
				<a class="reply">Reply</a>
			</div>
		</div>
	</div>
</div>
<div class="ui blue labeled submit icon button" id="at-button-reply">
	<i class="icon edit"></i>
	Add Reply
</div>
<script type="text/javascript">
	 $("#at-button-reply").click(function() {
    	$('.ui.modal').modal('show');
    	});
  </script>

<div class="ui modal "id="at-model-reply">
	<i class="close icon"></i>
	<div class="header">回复</div>
	<form class="ui reply form">
		<div class="field">
			<textarea></textarea>
		</div>
		<div class="actions">
			<div class="ui red deny button">取消</div>
			<div class="ui positive right labeled icon button">
				确认
				<i class="checkmark icon"></i>
			</div>
		</div>
	</form>
</div>
</div>