<div class="ui grid">
	<div class="four wide column usercenter-nav">
		<div ng-include="'../views/include/usernav.html'"></div>
	</div>
	<div class="twelve wid usercenter-right">
		<div class="ui top attached tabular menu">
		  <a class="item active" data-tab="first">我的相册</a>
		</div>
		<div class="ui bottom attached tab segment active" data-tab="first">
			<div class="ui grid bg-gray at-high-mod2">
			    <div class="ui grid at-video-box">
			      <div class="four wide column" href="#/">
			        <img class="ui image at-video" src="images/Fl201512241629035405.jpg">
			        <p>时间：2016年5月8日16:04:46</p>
					<p>会议图片会议图片会议图片会议图片</p>
			      </div>
			      <div class="four wide column" href="#/">
			        <img class="ui image at-video" src="images/Fl201512241629035405.jpg">
			        <p>时间：2016年5月8日16:04:46</p>
					<p>会议图片</p>
			      </div>
			      <div class="four wide column" href="#/">
			        <img class="ui image at-video" src="images/Fl201512241629035405.jpg">
			        <p>时间：2016年5月8日16:04:46</p>
					<p>会议图片</p>
			      </div>
			      <div class="four wide column" href="#/">
			        <img class="ui image at-video" src="images/Fl201512241629035405.jpg">
			        <p>时间：2016年5月8日16:04:46</p>
					<p>会议图片</p>
			      </div>
			    </div>
			    <div class="ui grid at-video-box">
			      <div class="four wide column" href="#/">
			        <img class="ui image at-video" src="images/Fl201512241629035405.jpg">
			        <p>时间：2016年5月8日16:04:46</p>
					<p>会议图片</p>
			      </div>
			      <div class="four wide column" href="#/">
			        <img class="ui image at-video" src="images/Fl201512241629035405.jpg">
			        <p>时间：2016年5月8日16:04:46</p>
					<p>会议图片</p>
			      </div>
			      <div class="four wide column" href="#/">
			        <img class="ui image at-video" src="images/Fl201512241629035405.jpg">
			        <p>时间：2016年5月8日16:04:46</p>
					<p>会议图片</p>
			      </div>
			      <div class="four wide column" href="#/">
			        <img class="ui image at-video" src="images/Fl201512241629035405.jpg">
			        <p>时间：2016年5月8日16:04:46</p>
					<p>会议图片</p>
			      </div>
			    </div>
			</div>
		</div>
	</div>
</div>
<script>
	$('.menu .item')
  .tab()
;
</script>