<div class="ui grid">
    <div class="four wide column usercenter-nav">
        <div ng-include="'../include/usernav.html'"></div>
    </div>
    <div class="twelve wid usercenter-right">
        <form class="ui form">
            <div class="field">
                <label>所属分类</label>
                <div class="ui left input at-signup-text">
                    <select class="ui search dropdown usercenter-input2" name="category">
                        <option value="0">分类1</option>
                        <option value="1">分类2</option>
                        <option value="2">分类3</option>
                        <option value="3">分类4</option>
                    </select>
                </div>
            </div>
            <div class="field">
                <label>职称</label>
                <div class="ui left icon input at-signup-text usercenter-input2">
                    <input type="text" placeholder="职称">
                </div>
            </div>
            <div class="field">
                <label>职务</label>
                <div class="ui left icon input at-signup-text usercenter-input2">
                    <input type="text" placeholder="职务">
                </div>
            </div>
            <div class="field">
                <label>简介</label>
                <div class="ui left icon input at-signup-text usercenter-input2">
                    <input type="text" placeholder="简介">
                </div>
            </div>
            <div class="field">
                <label>服务项目</label>
                <div class="ui left icon input at-signup-text usercenter-input2">
                    <input type="text" placeholder="服务项目">
                </div>
            </div>
            <div class="field">
                <label>单位</label>
                <div class="ui left icon input at-signup-text usercenter-input2">
                    <input type="text" placeholder="单位">
                </div>
            </div>
            <div class="ui green submit button">保存</div>
    </div>
    </form>
</div>
</div>
