<div class="ui grid">
    <div class="four wide column usercenter-nav">
        <div ng-include="'../include/usernav.html'"></div>
    </div>
    <div class="twelve wid usercenter-right">

        <div class="ui secondary pointing menu">
            <a ng-class="{true:'item active',false:'item'}[curStatus == 'RESOLVED']"
               href="#/usercenter/myquestion?status=RESOLVED">已解决</a>
            <a ng-class="{true:'item active',false:'item'}[curStatus == 'WAIT_RESOLVE']"
               href="#/usercenter/myquestion?status=WAIT_RESOLVE">待解决</a>
        </div>
        <div class="at-info-main">
            <div class="ui list">
                <div class="item ui segment"  ng-repeat="question in questions">
                    <div class="content at-question-cont">
                        <div>
                            <a class="ui teal tag label at-question-label-from">{{ question.category.name }}</a>
                        </div>
                        <div>
                            <a class="at-question-title" href="#/question/{{question.id}}">{{ question.title }}</a>
                        </div>

                        <div class="description">
                            <p>
                                {{ question.content }}
                            </p>
                        </div>

                    </div>
                </div>
            </div>
            <observe totalitems="204" listsizes="5" itemsperpage="10"></observe>
        </div>
    </div>
</div>