<div class="ui grid">
	<div class="four wide column usercenter-nav">
		<div ng-include="'../views/include/usernav.html'"></div>
	</div>
	<div class="twelve wid usercenter-right">
		<!-- <p>This is the usercenter/myquestion view.</p> -->
		<div class="ui top attached tabular menu">
		  <a class="item active" data-tab="first">已回答</a>
		  <a class="item" data-tab="second">待回答</a>
		</div>
		<div class="ui bottom attached tab segment active" data-tab="first">
			<div class="ui list">
				<div class="item">尖椒苗10天都没有出土是咋回事？</div>
				<div class="item">葡萄树上喷石硫合剂，怎么配浓度？</div>
				<div class="item">葡萄树上喷石硫合剂，怎么配浓度？</div>
			</div>
		</div>
		<div class="ui bottom attached tab segment" data-tab="second">
			<div class="ui list">
				<div class="item">尖椒苗10天都没有出土是咋回事？</div>
				<div class="item">葡萄树上喷石硫合剂，怎么配浓度？</div>
				<div class="item">葡萄树上喷石硫合剂，怎么配浓度？</div>
			</div>
		</div>
	</div>
</div>
<script>
	$('.menu .item')
  .tab()
;
</script>