<style>
    .simditor {
        width: 100% !important;
    }
</style>
<div class="ui grid">
    <div class="four wide column usercenter-nav">
        <div ng-include="'../include/usernav.html'"></div>
    </div>
    <div class="twelve wid usercenter-right">
        <div class="column">
            <form class="ui form" ng-submit="addArticle()">
                <div class="at-post-content">
                    <div class="field">
                        <label>文章标题</label>
                        <div class="ui left input at-signup-text">
                            <input type="text" ng-model="title" placeholder="文章标题">
                        </div>
                    </div>
                    <div class="field">
                        <label>文章内容</label>
                        <div class="ui left input at-signup-text">
                            <textarea id="editor"  ng-model="content"  placeholder="在此编辑文章" style="width: 100% ;" autofocus></textarea>
                        </div>
                    </div>
                    <div class="field">
                        <label>文章标签</label>
                        <div class="ui left input at-signup-text">
                            <input  ng-model="tag" type="text" placeholder="">
                        </div>
                    </div>
                    <div class="field">
                        <label>文章分类</label>
                        <input type="hiden" ng-hide="true" ng-model="categoryId" id="categoryId">
                        <div class="ui search selection dropdown  remote example">
                            <i class="dropdown icon"></i>
                            <div class="menu">
                                <div ng-repeat="category in categories" class="item" data-value="{{ category.id }}">
                                    {{ category.name }}
                                </div>
                            </div>
                            <div class="default text">选择分类</div>
                        </div>
                    </div>
                    <div class="field">
                        <label>文章配图(选择上传图片)</label>
                        <div class="upload-container" id="upload-container">
                            <input type="file" id="pickfiles" name="image">
                        </div>
                    </div>
                    <img style="max-width: 500px" src="{{ cateImage }}">
                    <center><input type="submit" class="fluid ui green submit button" value="提交"></center>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    $('.ui.dropdown').dropdown();
    var editor = new Simditor({
        textarea: $('#editor')
        //optional options
    });
</script>
