<div class="at-question-info-all">
<div class="ui breadcrumb" id="at-expert-breadcrumb">
	<a class="section">首页</a> <i class="right angle icon divider"></i>
	<a class="section">交易详情</a>
</div>
<div class="content">
	<div class="ui list">
		<div class="item">
			<img class="ui avatar image" id="at-question-info-img" src="http://www.semantic-ui.cn/images/avatar/large/steve.jpg"/>
			<div class="content at-question-cont" id="at-question-info-cont">
				<div class="at-question-name">
					<a>高海龙</a>
				</div>

				<div >
					<a class="at-question-title">卖母猪1万头</a>
				</div>

				<div class="description">
					<p>
						对于一二年生苗木，可在杂草萌发前使用。
				      对于一二年生苗木，可在杂草萌发前使用。对于一二年生苗木，可在杂草萌发前使用。对于一二年生苗木，可在杂草萌发前使用。对于一二年生苗木，可在杂草萌发前使用对于一二年生苗木，可在杂草萌发前使用。对于一二年生苗木，可在杂草萌发前使用
					</p>
				</div>

			</div>
		</div>
	</div>
</div>

</div>