<div class="at-question-info-all">
    <div class="ui breadcrumb" id="at-expert-breadcrumb">
        <a class="section">首页</a> <i class="right angle icon divider"></i>
        <a class="section">交易详情</a>
    </div>
    <div class="content" style="margin-top: 10px">
        <div class="ui list">
            <div class="item ui segment">
                <img class="ui avatar image" id="at-question-info-img"
                     src="{{ curTrade.user.avatar | showAvatar }}"/>
                <div class="content at-question-cont" id="at-question-info-cont">
                    <div class="at-question-name">
                        <a>{{ curTrade.user.name }}</a>
                    </div>
                    <div>
                        <p class="at-question-title">{{ curTrade.title }}</p>
                    </div>

                    <div class="description">
                        <p>
                            {{ curTrade.description }}
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>