<div class="column">
    <form class="ui form" ng-submit="createTrade()">
        <h1 class="at-title">
            <center>供求发布</center>
        </h1>
        <div class="at-post-content">
            <div class="field">
                <label>供求标题</label>
                <div class="ui left input at-signup-text">
                    <input type="text" ng-model="title" placeholder="供求的简单概括，5-45字">
                </div>
            </div>
            <div class="field">
                <label>供求描述</label>
                <div class="ui left input at-signup-text">
                    <textarea name="name" rows="8" cols="40" ng-model="content" placeholder="供求的详细描述，5-255字"></textarea>
                </div>
            </div>
            <div class="ui custom images">
                <img ng-repeat="image in images" src="{{ image }}">
            </div>
            <div class="field">
                <label>选择上传图片</label>
                <div class="upload-container" id="upload-container">
                    <input type="file" id="pickfiles" name="image">
                </div>
            </div>
            <div class="field">
                <label>交易分类</label>
                <input type="hiden" ng-hide="true" ng-model="categoryId" id="categoryId">
                <div class="ui search selection dropdown">
                    <input type="hidden" name="category">
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <div ng-repeat="category in categories" class="item" data-value="{{ category.id }}">
                            {{ category.name }}
                        </div>
                    </div>
                    <div class="default text">选择分类</div>
                </div>
            </div>
            <div class="field">
                <div class="inline fields">
                    <label>请选择供应或者需求?</label>
                    <input type="hiden" ng-hide="true" ng-model="tradeType" id="tradeType">
                    <div class="field">
                        <select name="" class="ui selection dropdown tradeType" id="">
                            <option value="DEMAND">需求</option>
                            <option value="SUPPLY">供应</option>
                        </select>
                    </div>
                </div>
            </div>
            <center><input type="submit" class="fluid ui green submit button" value="提交"></center>
        </div>
    </form>
</div>

<script type="text/javascript">
    $('.ui.dropdown').dropdown();
    $('.tradeType').dropdown();
</script>
