	<div class="ui segment at-expert-top">
		<img class="ui centered medium circular image" id="at-expert-img-head"src="/images/img5.jpg">
		<div class="at-expert-info">
		<h3 class="name">高海龙</h3>
		<h4 class="job centered">职务:山西农业大学校长  | 单位:山西农业大学</h4>

		<p class="info">高海龙，男，汉族，1967年10月出生，河南遂平人，1991年10月参加工作，1996年12月加入中国共产党，大学学历（1991年7月毕业于新疆师范大学政教系哲学专业），哲学学士。</p>
		</div>
	</div>
	<div class="at-expert-nav">
		<div class="ui secondary pointing four  menu">
			<a class="active item">文章列表</a>
			<a class="item">问题列表</a>
			<a class="item">成果</a>
		</div>
	</div>