<div class="ui breadcrumb at-location">
	<a class="section">当前位置</a> <i class="right angle icon divider"></i>
	<a class="section">文章列表</a>
</div>
<div class="ui items " >
	<div class="ui items segment at-article-item ">
		<div class="content">
			<a class="header" id="at-article-title">标题1</a>
			<div class="time">
				<span>2016.05.08</span>
			</div>
			<div class="description">
				<p>
					花木兰（412年-502年），花木兰的事迹流传至今，中国古代巾帼英雄，忠孝节义，代父从军击败入侵民族而流传千古，唐代皇帝追封为“孝烈将军”。
				</p>
			</div>
			<div class="at-article-img">
				<img src="/images/yeoman.png"/>
			</div>
			<div class="at-expert-tag">
				<a class="ui red label">Red</a>
				<a class="ui orange label">Orange</a>
				<a class="ui yellow label">Yellow</a>
			</div>
		</div>
	</div>
	<div class="ui items segment at-article-item ">
		<div class="content">
			<a class="header" id="at-article-title">标题1</a>
			<div class="time">
				<span>2016.05.08</span>
			</div>
			<div class="description">
				<p>
					花木兰（412年-502年），花木兰的事迹流传至今，中国古代巾帼英雄，忠孝节义，代父从军击败入侵民族而流传千古，唐代皇帝追封为“孝烈将军”。
				</p>
			</div>
			<div class="at-article-img">
				<img src="/images/yeoman.png"/>
			</div>
			<div class="at-expert-tag">
				<a class="ui red label">Red</a>
				<a class="ui orange label">Orange</a>
				<a class="ui yellow label">Yellow</a>
			</div>
		</div>
	</div>

	<div class="ui items segment at-article-item ">
		<div class="content">
			<a class="header" id="at-article-title">标题1</a>
			<div class="time">
				<span>2016.05.08</span>
			</div>
			<div class="description">
				<p>
					花木兰（412年-502年），花木兰的事迹流传至今，中国古代巾帼英雄，忠孝节义，代父从军击败入侵民族而流传千古，唐代皇帝追封为“孝烈将军”。
				</p>
			</div>
			<div class="at-article-img">
				<img src="/images/yeoman.png"/>
			</div>
			<div class="at-expert-tag">
				<a class="ui red label">Red</a>
				<a class="ui orange label">Orange</a>
				<a class="ui yellow label">Yellow</a>
			</div>
		</div>
	</div>

	<div class="ui items segment at-article-item ">
		<div class="content">
			<a class="header" id="at-article-title">标题1</a>
			<div class="time">
				<span>2016.05.08</span>
			</div>
			<div class="description">
				<p>
					花木兰（412年-502年），花木兰的事迹流传至今，中国古代巾帼英雄，忠孝节义，代父从军击败入侵民族而流传千古，唐代皇帝追封为“孝烈将军”。
				</p>
			</div>
			<div class="at-article-img">
				<img src="/images/yeoman.png"/>
			</div>
			<div class="at-expert-tag">
				<a class="ui red label">Red</a>
				<a class="ui orange label">Orange</a>
				<a class="ui yellow label">Yellow</a>
			</div>
		</div>
	</div>

	<div class="ui items segment at-article-item ">
		<div class="content">
			<a class="header" id="at-article-title">标题1</a>
			<div class="time">
				<span>2016.05.08</span>
			</div>
			<div class="description">
				<p>
					花木兰（412年-502年），花木兰的事迹流传至今，中国古代巾帼英雄，忠孝节义，代父从军击败入侵民族而流传千古，唐代皇帝追封为“孝烈将军”。
				</p>
			</div>
			<div class="at-article-img">
				<img src="/images/yeoman.png"/>
			</div>
			<div class="at-expert-tag">
				<a class="ui red label">Red</a>
				<a class="ui orange label">Orange</a>
				<a class="ui yellow label">Yellow</a>
			</div>
		</div>
	</div>

</div>