<div class="ui breadcrumb at-location">
	<a class="section">当前位置</a> <i class="right angle icon divider"></i>
	<a class="section">文章列表</a>
</div>
<div class="ui secondary pointing menu">
	<!--<a href="#/article?category=" ng-class="{true:'item active',false:'item'}[curCategoryId=='']">全部</a>-->
	<div  ng-repeat="category in categories">
		<a ng-class="{true:'item active',false:'item'}[category.id == curCategoryId]" href="#/article?category={{ category.id }}">{{ category.name }}</a>
	</div>
</div>
<div class="ui items " ng-repeat="article in articles" >
	<div class="ui items segment at-article-item ">
		<div class="content">
			<a class="header at-article-title" href="#/article/{{ article.id }}">{{ article.title }}</a>
			<div class="time">
				<span>{{ article.whenCreated | date:'yyyy-MM-dd HH:mm' }}</span>
			</div>
			<div class="description">
				<p style="max-height: 181px;overflow: hidden; line-height: 25px;">
					{{ article.content | replaceHtml}}
				</p>
			</div>
			<!--<div class="at-article-img">-->
				<!--<img src="/images/yeoman.png"/>-->
			<!--</div>-->
			<div class="at-expert-tag">
				<a class="ui red label">{{ article.category.name }}</a>
				<a class="ui orange label">{{ article.tag }}</a>
			</div>
		</div>
	</div>

</div>
<observe totalitems="204" listsizes="5" itemsperpage="10"></observe>
