<div class="ui breadcrumb" id="at-expert-breadcrumb">
	<a class="section">首页</a> <i class="right angle icon divider"></i>
	<a class="section">专家列表</a>
</div>
<div class="ui secondary pointing menu">
	<a class="item active">分类一</a>
	<a class="item">分类二</a>
	<a class="item">分类三</a>
</div>
<div class="ui four column grid" id="at-expert-card">
	<div class="column">
		<div class="ui special cards">
			<div class="card at-expert-card">
				<div class="blurring dimmable image">
					<div class="ui dimmer">
						<div class="content">
							<div class="center">
								<div class="ui inverted button">进入专家主页</div>
							</div>
						</div>
					</div>
					<img src="http://www.semantic-ui.cn/images/avatar/large/elliot.jpg"></div>
				<div class="content">
					<a class="header">高海龙</a>
					<div class="meta">
						职务:校长
					</div>
					<div class="meta">
						职称:真高
					</div>
					<div class="meta">
						单位:山西农业大学
					</div>

				</div>
				<div class="extra content">
					<a href="#/expert/articles"> <i class="pointing right icon"></i>
						点此进入专家主页
					</a>
				</div>
			</div>

		</div>
	</div>
		<div class="column">
		<div class="ui special cards">
			<div class="card at-expert-card">
				<div class="blurring dimmable image">
					<div class="ui dimmer">
						<div class="content">
							<div class="center">
								<div class="ui inverted button">进入专家主页</div>
							</div>
						</div>
					</div>
					<img src="http://www.semantic-ui.cn/images/avatar/large/elliot.jpg"></div>
				<div class="content">
					<a class="header">高海龙</a>
					<div class="meta">
						职务:校长
					</div>
					<div class="meta">
						职称:真高
					</div>
					<div class="meta">
						单位:山西农业大学
					</div>

				</div>
				<div class="extra content">
					<a href="#/expert/articles"> <i class="pointing right icon"></i>
						点此进入专家主页
					</a>
				</div>
			</div>

		</div>
	</div>
		<div class="column">
		<div class="ui special cards">
			<div class="card at-expert-card">
				<div class="blurring dimmable image">
					<div class="ui dimmer">
						<div class="content">
							<div class="center">
								<div class="ui inverted button">进入专家主页</div>
							</div>
						</div>
					</div>
					<img src="http://www.semantic-ui.cn/images/avatar/large/elliot.jpg"></div>
				<div class="content">
					<a class="header">高海龙</a>
					<div class="meta">
						职务:校长
					</div>
					<div class="meta">
						职称:真高
					</div>
					<div class="meta">
						单位:山西农业大学
					</div>

				</div>
				<div class="extra content">
					<a> <i class="pointing right icon"></i>
						点此进入专家主页
					</a>
				</div>
			</div>

		</div>
	</div>
		<div class="column">
		<div class="ui special cards">
			<div class="card at-expert-card">
				<div class="blurring dimmable image">
					<div class="ui dimmer">
						<div class="content">
							<div class="center">
								<div class="ui inverted button">进入专家主页</div>
							</div>
						</div>
					</div>
					<img src="http://www.semantic-ui.cn/images/avatar/large/elliot.jpg"></div>
				<div class="content">
					<a class="header">高海龙</a>
					<div class="meta">
						职务:校长
					</div>
					<div class="meta">
						职称:真高
					</div>
					<div class="meta">
						单位:山西农业大学
					</div>

				</div>
				<div class="extra content">
					<a> <i class="pointing right icon"></i>
						点此进入专家主页
					</a>
				</div>
			</div>

		</div>
	</div>
		<div class="column">
		<div class="ui special cards">
			<div class="card at-expert-card">
				<div class="blurring dimmable image">
					<div class="ui dimmer">
						<div class="content">
							<div class="center">
								<div class="ui inverted button">进入专家主页</div>
							</div>
						</div>
					</div>
					<img src="http://www.semantic-ui.cn/images/avatar/large/elliot.jpg"></div>
				<div class="content">
					<a class="header">高海龙</a>
					<div class="meta">
						职务:校长
					</div>
					<div class="meta">
						职称:真高
					</div>
					<div class="meta">
						单位:山西农业大学
					</div>

				</div>
				<div class="extra content">
					<a> <i class="pointing right icon"></i>
						点此进入专家主页
					</a>
				</div>
			</div>

		</div>
	</div>
		<div class="column">
		<div class="ui special cards">
			<div class="card at-expert-card">
				<div class="blurring dimmable image">
					<div class="ui dimmer">
						<div class="content">
							<div class="center">
								<div class="ui inverted button">进入专家主页</div>
							</div>
						</div>
					</div>
					<img src="http://www.semantic-ui.cn/images/avatar/large/elliot.jpg"></div>
				<div class="content">
					<a class="header">高海龙</a>
					<div class="meta">
						职务:校长
					</div>
					<div class="meta">
						职称:真高
					</div>
					<div class="meta">
						单位:山西农业大学
					</div>

				</div>
				<div class="extra content">
					<a> <i class="pointing right icon"></i>
						点此进入专家主页
					</a>
				</div>
			</div>

		</div>
	</div>
		<div class="column">
		<div class="ui special cards">
			<div class="card at-expert-card">
				<div class="blurring dimmable image">
					<div class="ui dimmer">
						<div class="content">
							<div class="center">
								<div class="ui inverted button">进入专家主页</div>
							</div>
						</div>
					</div>
					<img src="http://www.semantic-ui.cn/images/avatar/large/elliot.jpg"></div>
				<div class="content">
					<a class="header">高海龙</a>
					<div class="meta">
						职务:校长
					</div>
					<div class="meta">
						职称:真高
					</div>
					<div class="meta">
						单位:山西农业大学
					</div>

				</div>
				<div class="extra content">
					<a> <i class="pointing right icon"></i>
						点此进入专家主页
					</a>
				</div>
			</div>

		</div>
	</div>
		<div class="column">
		<div class="ui special cards">
			<div class="card at-expert-card">
				<div class="blurring dimmable image">
					<div class="ui dimmer">
						<div class="content">
							<div class="center">
								<div class="ui inverted button">进入专家主页</div>
							</div>
						</div>
					</div>
					<img src="http://www.semantic-ui.cn/images/avatar/large/elliot.jpg"></div>
				<div class="content">
					<a class="header">高海龙</a>
					<div class="meta">
						职务:校长
					</div>
					<div class="meta">
						职称:真高
					</div>
					<div class="meta">
						单位:山西农业大学
					</div>

				</div>
				<div class="extra content">
					<a> <i class="pointing right icon"></i>
						点此进入专家主页
					</a>
				</div>
			</div>

		</div>
	</div>
		<div class="column">
		<div class="ui special cards">
			<div class="card at-expert-card">
				<div class="blurring dimmable image">
					<div class="ui dimmer">
						<div class="content">
							<div class="center">
								<div class="ui inverted button">进入专家主页</div>
							</div>
						</div>
					</div>
					<img src="http://www.semantic-ui.cn/images/avatar/large/elliot.jpg"></div>
				<div class="content">
					<a class="header">高海龙</a>
					<div class="meta">
						职务:校长
					</div>
					<div class="meta">
						职称:真高
					</div>
					<div class="meta">
						单位:山西农业大学
					</div>

				</div>
				<div class="extra content">
					<a> <i class="pointing right icon"></i>
						点此进入专家主页
					</a>
				</div>
			</div>

		</div>
	</div>

<script type="text/javascript">
    	$('.special.cards .image').dimmer({
  on: 'hover'
});
  </script>
</div>
