<div class="ui segment">
	<div class="at-expert-top">
		<img class="ui centered medium circular image"src="/images/img5.jpg"></div>
	<div class="at-expert-nav">
		<div class="ui secondary pointing four  menu">
			<a class="active item">个人主页</a>
			<a class="item">文章列表</a>
			<a class="item">问题列表</a>
			<a class="item">成果</a>
		</div>
	</div>
	<div class="ui grid">
		<div class="sixteen wide column">
			<div class="ui items">
				<div class="item">
					<div class="content">
						<a class="header">标题1</a>
						<div class="time">
							<span>2016.05.08</span>
						</div>
						<div class="description">
							<p>
								花木兰（412年-502年），花木兰的事迹流传至今，中国古代巾帼英雄，忠孝节义，代父从军击败入侵民族而流传千古，唐代皇帝追封为“孝烈将军”。
							</p>
						</div>
						<div class"at-expert-img">
							<img src="/images/yeoman.png">
							<img src="/images/yeoman.png">
							<img src="/images/yeoman.png">
							<img src="/images/yeoman.png">
							</div>
						<div class="at-expert-tag">
							<a class="ui red label">Red</a>
							<a class="ui orange label">Orange</a>
							<a class="ui yellow label">Yellow</a>
						</div>
					</div>
				</div>

				<div class="item">
					<div class="content">
						<a class="header">标题2</a>
						<div class="time">
							<span>2016.05.08</span>
						</div>
						<div class="description">
							<p>
								穆桂英是中国古代四大巾帼英雄之一，与梁红玉、花木兰、樊梨花齐名，也是个“杨门女将”。她是杨宗保的妻子，也就是杨继业的孙媳妇。虽然历史上无证据证明穆桂英战场上的功劳，民间却流传了许多故事。
							</p>
						</div>
						<div class"at-expert-img">
							<img src="/images/yeoman.png">
							<img src="/images/yeoman.png">
							<img src="/images/yeoman.png"></div>
						<div class="at-expert-tag">
							<a class="ui black label">black</a>
							<a class="ui violet  label">violet</a>
							<a class="ui grey  label">grey</a>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="content">
						<a class="header">标题3</a>
						<div class="time">
							<span>2016.05.08</span>
						</div>
						<div class="description">
							<p>
								佘太君（934 ～ 1010年），又称折太君，名赛花，云中(今山西大同)人，折德扆(yǐ)之女。宋代名将杨继业(杨业)之妻。曾祖父曾任后唐麟州(今陕西神木县北十里)刺史，隶属李克用；祖父折从阮，公元930年后唐明宗授他为府州(今陕西府谷县)刺史
							</p>
						</div>
						<div class"at-expert-img">
							<img src="/images/yeoman.png">
							<img src="/images/yeoman.png"></div>
						<div class="at-expert-tag">
							<a class="ui red label">Red</a>
							<a class="ui orange label">Orange</a>
							<a class="ui yellow label">Yellow</a>
						</div>
					</div>
				</div>
				<div class="at-expert-question">
					<div class="ui comments">
						<h3 class="ui dividing header">Comments</h3>
						<div class="comment">
							<a class="avatar">
								<img src="/images/avatar/small/elliot.jpg"></a>
							<div class="content">
								<a class="author">Elliot Fu</a>
								<div class="metadata">
									<span class="date">昨天上午12:30</span>
								</div>
								<div class="text">
									<p>This has been very useful for my research. Thanks as well!</p>
								</div>
								<div class="actions">
									<a class="reply">Reply</a>
								</div>
							</div>
							<div class="comments">
								<div class="comment">
									<a class="avatar">
										<img src="/images/avatar/small/jenny.jpg"></a>
									<div class="content">
										<a class="author">Jenny Hess</a>
										<div class="metadata">
											<span class="date">刚刚</span>
										</div>
										<div class="text">Elliot you are always so right :)</div>
										<div class="actions">
											<a class="reply">Reply</a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<form class="ui reply form">
							<div class="field">
								<textarea></textarea>
							</div>
							<div class="ui blue labeled submit icon button"> <i class="icon edit"></i>
								Add Reply
							</div>
						</form>

					</div>
					<div class="at-expert-tag">
						<a class="ui red label">Red</a>
						<a class="ui orange label">Orange</a>
						<a class="ui yellow label">Yellow</a>
						<a class="ui grey  label">grey</a>
					</div>
				</div>
				<div class="ui items">
					<div class="item">
						<div class="content">
							<a class="header">成果</a>
							<div class="time">
								<span>2016.05.08</span>
							</div>
							<div class="description">
								<p>
									“闭关锁国”后的清朝逐步落后于世界大潮，但是在外贸中，一直处于贸易顺差地位。 为了扭转对华贸易逆差，英国开始向中国走私毒品鸦片，获取暴利。
								</p>
							</div>
							<div class"at-expert-img">
								<img src="/images/yeoman.png">
								<img src="/images/yeoman.png">
								<img src="/images/yeoman.png">
								<img src="/images/yeoman.png">
							</div>
							<div class="at-expert-tag">
								<a class="ui red label">Red</a>
								<a class="ui orange label">Orange</a>
								<a class="ui yellow label">Yellow</a>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="eight wide column">
			<div class="at-expert-chengguo"
				<div class="ui feed">
					<div class="event">
						<div class="label">
							<img src="/images/avatar/small/elliot.jpg"></div>
						<div class="content">
							<div class="summary">
								<a class="user">Elliot Fu</a>
								added you as a friend
								<div class="date">1 小时前</div>
							</div>
							<div class="meta">
								<a class="like"> <i class="like icon"></i>
									4 Likes
								</a>
							</div>
						</div>
					</div>
					<div class="event">
						<div class="label">
							<img src="/images/avatar/small/helen.jpg"></div>
						<div class="content">
							<div class="summary">
								<a>Helen Troy</a>
								增加
								<a>2 新的 illustrations</a>
								<div class="date">4 天前</div>
							</div>
							<div class="extra images">
								<a>
									<img src="/images/wireframe/image.png"></a>
								<a>
									<img src="/images/wireframe/image.png"></a>
							</div>
							<div class="meta">
								<a class="like">
									<i class="like icon"></i>
									1 Like
								</a>
							</div>
						</div>
					</div>
					<div class="event">
						<div class="label">
							<img src="/images/avatar/small/jenny.jpg"></div>
						<div class="content">
							<div class="summary">
								<a class="user">Jenny Hess</a>
								将你加为好友
								<div class="date">2 天前</div>
							</div>
							<div class="meta">
								<a class="like">
									<i class="like icon"></i>
									8 Likes
								</a>
							</div>
						</div>
					</div>
					<div class="event">
						<div class="label">
							<img src="/images/avatar/small/joe.jpg"></div>
						<div class="content">
							<div class="summary">
								<a>Joe Henderson</a>
								posted on his page
								<div class="date">3 天前</div>
							</div>
							<div class="extra text">
								Ours is a life of constant reruns. We're always circling back to where we'd we started, then starting all over again. Even if we don't run extra laps that day, we surely will come back for more of the same another day soon.
							</div>
							<div class="meta">
								<a class="like">
									<i class="like icon"></i>
									5 Likes
								</a>
							</div>
						</div>
					</div>
					<div class="event">
						<div class="label">
							<img src="/images/avatar/small/justen.jpg"></div>
						<div class="content">
							<div class="summary">
								<a>Justen Kitsune</a>
								上传
								<a>2 张关于你的照片</a>
								<div class="date">4 天前</div>
							</div>
							<div class="extra images">
								<a>
									<img src="/images/wireframe/image.png"></a>
								<a>
									<img src="/images/wireframe/image.png"></a>
							</div>
							<div class="meta">
								<a class="like">
									<i class="like icon"></i>
									41 Likes
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
			</div>
		
		</div>
	</div>
</div>