<div class="ui breadcrumb at-location">
	<a class="section">当前位置</a> <i class="right angle icon divider"></i>
	<a class="section">问题专区</a>
</div>
<div class="ui secondary pointing menu">
	<a class="item active">类型一</a>
	<a class="item">类型二</a>
	<a class="item">类型三</a>
	<a class="item">类型四</a>
	<a class="item">类型五</a>
</div>
<div class="at-info-main">
	<div class="ui list">
		<div class="item">
			<img class="ui avatar image" src="http://www.semantic-ui.cn/images/avatar/large/steve.jpg"/>
			<div class="content at-question-cont">
				<div>
					<a class="ui teal tag label " id="at-question-label-from">养殖</a>
				</div>

				<div class="at-question-name">
					<a>高海龙</a>
				</div>

				<div >
					<a class="at-question-title">母猪的产后护理</a>
				</div>

				<div class="description">
					<p>
						对于一二年生苗木，可在杂草萌发前使用。
				      对于一二年生苗木，可在杂草萌发前使用。对于一二年生苗木，可在杂草萌发前使用。对于一二年生苗木，可在杂草萌发前使用。对于一二年生苗木，可在杂草萌发前使用对于一二年生苗木，可在杂草萌发前使用。对于一二年生苗木，可在杂草萌发前使用
					</p>
				</div>

			</div>
		</div>
	</div>
	<div> <i class="heart red large   icon at-info-icon"></i>
		<i class="pointing up icon " id="at-question-cui"></i>
	</div>
	<div>
		<a class="ui red tag label" id="at-question-label-ok">未解决</a>
	</div>
</div>
<div class="at-info-main">
	<div class="ui list">
		<div class="item">
			<img class="ui avatar image" src="http://www.semantic-ui.cn/images/avatar/large/steve.jpg"/>
			<div class="content at-question-cont">
				<div>
					<a class="ui teal tag label " id="at-question-label-from">养殖</a>
				</div>

				<div class="at-question-name">
					<a>高海龙</a>
				</div>

				<div >
					<a class="at-question-title">母猪的产后护理</a>
				</div>

				<div class="description">
					<p>
						对于一二年生苗木，可在杂草萌发前使用。
				      对于一二年生苗木，可在杂草萌发前使用。对于一二年生苗木，可在杂草萌发前使用。对于一二年生苗木，可在杂草萌发前使用。对于一二年生苗木，可在杂草萌发前使用对于一二年生苗木，可在杂草萌发前使用。对于一二年生苗木，可在杂草萌发前使用
					</p>
				</div>

			</div>
		</div>
	</div>
	<div>
		<i class="heart red large   icon at-info-icon"></i>
		<i class="pointing up icon " id="at-question-cui"></i>
	</div>
	<div>
		<a class="ui green tag label" id="at-question-label-nook">已解决</a>
	</div>
</div>
<div class="at-info-main">
	<div class="ui list">
		<div class="item">
			<img class="ui avatar image" src="http://www.semantic-ui.cn/images/avatar/large/steve.jpg"/>
			<div class="content at-question-cont">
				<div>
					<a class="ui teal tag label " id="at-question-label-from">养殖</a>
				</div>

				<div class="at-question-name">
					<a>高海龙</a>
				</div>

				<div >
					<a class="at-question-title">母猪的产后护理</a>
				</div>

				<div class="description">
					<p>
						对于一二年生苗木，可在杂草萌发前使用。
				      对于一二年生苗木，可在杂草萌发前使用。对于一二年生苗木，可在杂草萌发前使用。对于一二年生苗木，可在杂草萌发前使用。对于一二年生苗木，可在杂草萌发前使用对于一二年生苗木，可在杂草萌发前使用。对于一二年生苗木，可在杂草萌发前使用
					</p>
				</div>

			</div>
		</div>
	</div>
	<div>
		<i class="empty heart red large   icon at-info-icon"></i>
		<i class="pointing up icon " id="at-question-cui"></i>
	</div>
	<div>
		<a class="ui green tag label" id="at-question-label-nook">已解决</a>
	</div>
</div>