<div class="ui breadcrumb at-location">
    <a class="section">当前位置</a> <i class="right angle icon divider"></i>
    <a class="section">问题专区</a>
</div>
<div class="ui secondary pointing menu">
    <div  ng-repeat="category in categories">
        <a ng-class="{true:'item active',false:'item'}[category.id == curCategoryId]" href="#/question?category={{ category.id }}">{{ category.name }}</a>
    </div>
</div>
<div ng-repeat="question in questions ">
    <div class="at-info-main ">
        <div class="ui list  ">

            <div class="ui segment item ">
                <img class="ui avatar image" src="http://www.semantic-ui.cn/images/avatar/large/steve.jpg"/>
                <div class="content at-question-cont ">
                    <div>
                        <a class="ui teal tag label " id="at-question-label-from">{{ question.category.name }}</a>
                    </div>

                    <div class="at-question-name">
                        <a>{{ question.user.name }}</a>
                    </div>

                    <div>
                        <a class="at-question-title">{{ question.title }}</a>
                    </div>

                    <div class="description">
                        <p>{{ question.content }}</p>
                    </div>

                </div>

            </div>

        </div>
        <div><i class="heart red large   icon at-info-icon"></i>
            <i class="pointing up icon " id="at-question-cui"></i>
        </div>
        <div>
            <a class="ui red tag label" id="at-question-label-ok">未解决</a>
        </div>
    </div>

</div>
