<div class="ui breadcrumb at-location">
    <a class="section">当前位置</a> <i class="right angle icon divider"></i>
    <a class="section">问题专区</a>
</div>
<div class="ui secondary pointing menu">
    <a href="#/question?category=" ng-class="{true:'item active',false:'item'}[curCategoryId=='']">全部</a>
    <a ng-repeat="category in categories" ng-class="{true:'item active',false:'item'}[category.id == curCategoryId]"
       href="#/question?category={{ category.id }}">{{ category.name }}</a>
</div>
<div ng-repeat="question in questions track by $index">
    <div class="at-info-main ">
        <div class="ui list  ">
            <div class="ui segment item ">
                <img class="ui avatar image" src="{{ question.user.avatar | showAvatar}}"/>
                <div class="content at-question-cont ">
                    <div>
                        <a class="ui teal tag label " id="at-question-label-from">{{ question.category.name }}</a>
                    </div>
                    <div class="at-question-name">
                        <a>{{ question.user.name }},</a>提问于{{ question.whenCreated | date:'yyyy-MM-dd HH:mm'  }}
                    </div>
                    <div style="margin-top: 5px;">
                        <a class="at-question-title" href="#/question/{{question.id}}">{{ question.title }}</a>
                    </div>
                    <div class="description">
                        <p>{{ question.content | replaceHtml }}</p>
                    </div>
                </div>
                <div><i ng-click="fav(question,$index)"
                        ng-class="{true:'heart large icon at-info-icon  at-info-icon-faved',false:'heart large icon at-info-icon '}[question.fav == true]"></i>
                </div>
            </div>
            <div>
                <a class="ui red tag label" id="at-question-label-ok">{{ question.questionResolveState | showStatus}}</a>
            </div>
        </div>

    </div>
</div>
<observe totalitems="204" listsizes="5" itemsperpage="10"></observe>

<a href="#/question/post" class="at-fb-post" style="display: block;"> 我要提问</a>
