<div class="ui breadcrumb at-location">
		  <a class="section">当前位置</a>
		  <i class="right angle icon divider"></i>
		  <a class="section">信息专区</a>
</div>
<div class="ui secondary pointing menu">
  <a class="item active">供应 </a>
  <a class="item">需求 </a>
  <div class="right menu">
    <a class="ui item">分类一 </a>
    <a class="ui item">分类二 </a>
    <a class="ui item">分类三 </a>
    <a class="ui item">分类四 </a>
  </div>
</div>
<div class="at-info-main ui segment">
				<div class="ui list">
				  <div class="item">
				    <img class="ui avatar image" src="http://www.semantic-ui.cn/images/avatar/large/steve.jpg">
				    <div class="content at-info-cont">
				      <a class="header">Rachel</a>
				      <div class="description">
				      	<p id="at-info-title">收购苹果两万斤</p>
				      <p>对于一二年生苗木，可在杂草萌发前使用。
				      对于一二年生苗木，可在杂草萌发前使用。对于一二年生苗木，可在杂草萌发前使用。对于一二年生苗木，可在杂草萌发前使用。对于一二年生苗木，可在杂草萌发前使用对于一二年生苗木，可在杂草萌发前使用。对于一二年生苗木，可在杂草萌发前使用</p></div>
				    </div>
				  </div>
				</div>
				<div class="at-info-date">
					2016-05-09
					<span><i class="marker icon"></i>山西农业大学</span>
				</div>
				<i class="heart red large   icon at-info-icon"></i>
</div>
<div class="at-info-main  ui segment">
				<div class="ui list">
				  <div class="item">
				    <img class="ui avatar image" src="http://www.semantic-ui.cn/images/avatar/large/steve.jpg">
				    <div class="content at-info-cont">
				      <a class="header">Rachel</a>
				      <div class="description">
				      	<p id="at-info-title">收购苹果两万斤</p>
				      <p>对于一二年生苗木，可在杂草萌发前使用。
				      对于一二年生苗木，可在杂草萌发前使用。对于一二年生苗木，可在杂草萌发前使用。对于一二年生苗木，可在杂草萌发前使用。对于一二年生苗木，可在杂草萌发前使用对于一二年生苗木，可在杂草萌发前使用。对于一二年生苗木，可在杂草萌发前使用</p></div>
				    </div>
				  </div>
				</div>
				<div class="at-info-date">
					2016-05-09
					<span><i class="marker icon"></i>山西农业大学</span>
				</div>
				<i class="empty heart red large   icon at-info-icon"></i>
</div>
<a href="#/question/post" id="toTop" style="display: block;"> 我要提问</a>

