<div class="ui breadcrumb at-location">
    <a class="section">当前位置</a>
    <i class="right angle icon divider"></i>
    <a class="section">信息专区</a>
</div>
<div class="ui secondary pointing menu">
    <a ng-class="{true:'item active',false:'item'}[curType == 'DEMAND']"
       href="#/trade?type=DEMAND">供应</a>
    <a ng-class="{true:'item active',false:'item'}[curType == 'SUPPLY']"
       href="#/trade?type=SUPPLY">需求</a>
    <div class="right menu">
        <div  ng-repeat="category in categories">
            <a ng-class="{true:'item active',false:'item'}[category.id == curCategoryId]" href="#/trade?category={{ category.id }}">{{ category.name }}</a>
        </div>
    </div>
</div>
<div class="at-info-main ui segment"  ng-repeat="trade in trades">
    <div class="ui list">
        <div class="item">
            <img class="ui avatar image" src="http://www.semantic-ui.cn/images/avatar/large/steve.jpg">
            <div class="content at-info-cont">
                <a class="">{{ trade.user.name }}</a>
                <div class="description">
                    <p id="at-info-title">{{ trade.title }}</p>
                    <p>
                        {{ trade.description }}
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="at-info-date">
        {{ trade.whenCreated | date:'yyyy-MM-dd HH:mm' }}
        <span><i class="marker icon"></i>山西农业大学</span>
    </div>
    <i class="heart large icon at-info-icon"></i>
</div>

<a href="#/trade/post" class="at-fb-post" style="display: block;">发布交易</a>
