<!-- <p>This is the video view.</p>
-->
<div class="ui at-home-article">
    <div class="ui breadcrumb" id="at-expert-breadcrumb">
        <a class="section">首页</a> <i class="right angle icon divider"></i>
        <a class="section">视频专区</a>
    </div>
    <div class="ui secondary pointing menu">
        <div ng-repeat="category in categories">
            <a ng-class="{true:'item active',false:'item'}[category.id == curCategoryId]"
               href="#/video?category={{ category.id }}">{{ category.name }}</a>
        </div>
    </div>
    <div class="ui items">
        <a class="item item-video" ng-repeat="video in videos" href="#/video/{{ video.id }}">
            <div class="ui small image">
                <img src="http://semantic-ui.com/images/wireframe/image.png">
            </div>
            <div class="content">
                <div class="header">{{ video.name }}</div>
                <div class="meta">
                    <span class="price">发布者: {{ video.admin.name }}</span>
                    <span class="stay">发布时间: {{ video.whenCreated | date:'yyyy-MM-dd HH:mm' }}</span>
                    <span class="ui mini label">{{ video.category.name }}</span>
                </div>
                <div class="description">
                    <p>
                        {{ video.description | replaceHtml}}
                    </p>
                </div>
            </div>

        </a>

        <observe totalitems="204" listsizes="5" itemsperpage="10"></observe>

    </div>
</div>