<!-- <p>This is the video view.</p> -->
<div class="ui at-home-article">
  <a class="ui blue ribbon label fz-14">视频</a>
  <div class="ui secondary pointing menu">
    <a class="item active" style="border-color:#009688">分类1 </a>
    <a class="item" >分类2 </a>
    <a class="item" >分类3 </a>
    <a class="item" >分类4 </a>
    <a class="item" >分类5 </a>
    
 </div>
  <div class="ui grid bg-gray at-high-mod3">
    <div class="ui grid at-video-box">
      <div class="four wide column at-video-cell">
        <img class="ui image at-video" src="images/Fl201512241629035405.jpg">
        <p class="at-video-name">棉花工厂化育苗和机械化移栽技术</p>
        <div class="at-video-black"></div>
      </div>
      <div class="four wide column at-video-cell">
        <img class="ui image at-video" src="images/20110707161625906705.jpg">
        <p class="at-video-name">棉花工厂化育苗和机械化移栽技术</p>
        <div class="at-video-black"></div>
      </div>
      <div class="four wide column at-video-cell">
        <img class="ui image at-video" src="images/20110923142436890893.jpg">
        <p class="at-video-name">棉花工厂化育苗和机械化移栽技术</p>
        <div class="at-video-black"></div>
      </div>
      <div class="four wide column at-video-cell">
        <img class="ui image at-video" src="images/20110701141315093461.jpg">
        <p class="at-video-name">棉花工厂化育苗和机械化移栽技术</p>
        <div class="at-video-black"></div>
      </div>
    </div>
    <div class="ui grid at-video-box">
      <div class="four wide column at-video-cell">
        <img class="ui image at-video" src="images/Fl201512241629035405.jpg">
        <p class="at-video-name">棉花工厂化育苗和机械化移栽技术</p>
        <div class="at-video-black"></div>
      </div>
      <div class="four wide column at-video-cell">
        <img class="ui image at-video" src="images/20110707161625906705.jpg">
        <p class="at-video-name">棉花工厂化育苗和机械化移栽技术</p>
        <div class="at-video-black"></div>
      </div>
      <div class="four wide column at-video-cell">
        <img class="ui image at-video" src="images/20110923142436890893.jpg">
        <p class="at-video-name">棉花工厂化育苗和机械化移栽技术</p>
        <div class="at-video-black"></div>
      </div>
      <div class="four wide column at-video-cell">
        <img class="ui image at-video" src="images/20110701141315093461.jpg">
        <p class="at-video-name">棉花工厂化育苗和机械化移栽技术</p>
        <div class="at-video-black"></div>
      </div>
    </div>
    <div class="ui grid at-video-box">
      <div class="four wide column at-video-cell">
        <img class="ui image at-video" src="images/Fl201512241629035405.jpg">
        <p class="at-video-name">棉花工厂化育苗和机械化移栽技术</p>
        <div class="at-video-black"></div>
      </div>
      <div class="four wide column at-video-cell">
        <img class="ui image at-video" src="images/20110707161625906705.jpg">
        <p class="at-video-name">棉花工厂化育苗和机械化移栽技术</p>
        <div class="at-video-black"></div>
      </div>
      <div class="four wide column at-video-cell">
        <img class="ui image at-video" src="images/20110923142436890893.jpg">
        <p class="at-video-name">棉花工厂化育苗和机械化移栽技术</p>
        <div class="at-video-black"></div>
      </div>
      <div class="four wide column at-video-cell">
        <img class="ui image at-video" src="images/20110701141315093461.jpg">
        <p class="at-video-name">棉花工厂化育苗和机械化移栽技术</p>
        <div class="at-video-black"></div>
      </div>
    </div>
    <div class="ui grid at-video-box">
      <div class="four wide column at-video-cell">
        <img class="ui image at-video" src="images/Fl201512241629035405.jpg">
        <p class="at-video-name">棉花工厂化育苗和机械化移栽技术</p>
        <div class="at-video-black"></div>
      </div>
      <div class="four wide column at-video-cell">
        <img class="ui image at-video" src="images/20110707161625906705.jpg">
        <p class="at-video-name">棉花工厂化育苗和机械化移栽技术</p>
        <div class="at-video-black"></div>
      </div>
      <div class="four wide column at-video-cell">
        <img class="ui image at-video" src="images/20110923142436890893.jpg">
        <p class="at-video-name">棉花工厂化育苗和机械化移栽技术</p>
        <div class="at-video-black"></div>
      </div>
      <div class="four wide column at-video-cell">
        <img class="ui image at-video" src="images/20110701141315093461.jpg">
        <p class="at-video-name">棉花工厂化育苗和机械化移栽技术</p>
        <div class="at-video-black"></div>
      </div>
    </div>
  </div>
</div>
<!-- 视频弹出 -->
<script type="text/javascript">
  $(".at-video-cell").click(function() {
    $('.ui.basic.modal')
  .modal('show');
    })
;
</script>
<script type="text/javascript">
    var myPlayer = videojs('my-video');
    videojs("my-video").ready(function(){
        var myPlayer = this;
        myPlayer.play();
    });
</script>
<link href="http://vjs.zencdn.net/vjs-version/video-js.css" rel="stylesheet">
<!-- If you'd like to support IE8 -->
<script src="http://vjs.zencdn.net/ie8/ie8-version/videojs-ie8.min.js"></script>
<script src="http://vjs.zencdn.net/vjs-version/video.js"></script>


<div class="ui basic modal">
  <i class="close icon"></i>
  <div class="image content">

    <div>
     <video id="my-video" class="video-js" controls preload="auto" width="800" height="400"
  poster="MY_VIDEO_POSTER.jpg" data-setup="{}">
    <source src="image/1.mp4" type='video/mp4'>
    <source src="MY_VIDEO.webm" type='video/webm'>
    <p class="vjs-no-js">
      To view this video please enable JavaScript, and consider upgrading to a web browser that
      <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
    </p>
  </video>
  </div>

  </div>
</div>